{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Products Report</title>
</head>
<body>
    <h1>Products Report</h1>
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>